<div class="top-box">
  <div class="top-box-title"
    <h1>ようこそ <span class="strong">Bookers</span> へ！</h1>
  </div>
  <div class="top-p">
    <p><span class="strong">Bookers</span> では、さまざまな書籍に関するあなたの意見や</p>
  </div>
  <div class="top-p">
    <p>印象を共有し交換することができます</p>
  </div>
  <div class="top-action">
    <%= link_to "start", "/books" %>
  </div>

</div>